.todolist {
  max-width: 400px;
  margin: auto;
  padding: 0.2rem 0;
  background-color: #f5f5dc;
  color: #161616;
  border-radius: 5px;

  ul {
    list-style-type: none;
    text-align: left;
    padding: 0 1rem;

    li {
      margin: 0.2rem 0;
      padding: 0.2rem 0.5rem;
      border: 1px solid #e2e2cd;
      background-color: #f7f7ef;
      overflow: hidden;
      line-height: 1.5rem;
    }
  }
}

.add:hover {
  opacity: 0.7;
}
